.overlay {
    position: relative;
    z-index: 3;

    --main-padding: 20px;

    --color-buttons-background-hover: gray;
    --color-buttons-background-selected: dimgray;

    /*--color-buttons-background-selected: dimgray;*/

    --color-background-window: rgba(0, 0, 0, 0.8);
    --color-red: red;

    /*--border-radius: 5px;*/
    --border-radius: 0;
}

/*.description {*/
/*    position: absolute;*/
/*    right: var(--main-padding);*/
/*    top: 50px;*/
/*    bottom: var(--main-padding);*/
/*    width: 300px;*/
/*    height: 500px;*/

/*    background-color: whitesmoke;*/
/*}*/

.inventory {
    position: fixed;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);

    padding-top: 5px;

    justify-content: center;

    left: var(--main-padding);
    top: var(--main-padding);
    width: 140px;
    height: 140px;

    border-radius: var(--border-radius);
    overflow: hidden;

    background-color: whitesmoke;

    cursor: pointer;
}

.inventory > div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    background-color: lightgray;
    color: black;
    font-size: 10px;
    font-weight: 700;

    /*margin: 5px;*/

    border-radius: var(--border-radius);
}

.inventory > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.inventory > div.selected {
    background-color: var(--color-buttons-background-selected);
}

.title {
    /*position: relative;*/
    /*padding: 24px;*/


}

.cell .coordinates {
    position: relative;
    display: flex;
    flex-direction: row;

    font-size: 6px;
}

.controls {
    position: fixed;
    display: flex;
    flex-direction: row;

    /*padding: 5px;*/

    bottom: var(--main-padding);
    right: var(--main-padding);
    z-index: 10;

    background-color: ghostwhite;

    border-radius: var(--border-radius);

    overflow: hidden;
}

.controls .time {
    min-width: 70px;
}

.controls > div {
    min-width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}

.controls > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.controls > div.active {
    /*background-color: var(--color-buttons-background-selected);*/
    color: var(--color-red);
}

.entity {
    position: fixed;
    right: var(--main-padding);
    top: var(--main-padding);
    /*bottom: var(--main-padding);*/
    width: 300px;
    /*height: 200px;*/

    border-radius: var(--border-radius);

    font-size: 12px;

    background-color: var(--color-background-window);
}

.entity .close {
    position: absolute;
    top: 0;
    right: 0;
}

.entity .center {
    position: absolute;
    top: 0;
    right: 22px;
}

.entity > div {
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: var(--border-radius);
}

.entity .text {
    /*margin: 0 10px 10px;*/
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.item-controls {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    margin-top: 10px;*/
/*}*/

/*.item-items > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    !*margin-top: 10px;*!*/
/*}*/

.button {
    font-weight: 700;
}

.button:hover {
    color: var(--color-red);
    cursor: pointer;
}

.welcome {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    /*height: 200px;*/

    overflow: hidden;
    border-radius: var(--border-radius);

    background-color: var(--color-background-window);

    z-index: 3;
}

.welcome > div.block {
    /*margin: 5px;*/
    border-radius: var(--border-radius);
    /*background-color: #e8e8e8;*/
    color: #e8e8e8;
    overflow: hidden;
}

.welcome img {
    /*width: calc(100% - 10px);*/
    /*height: calc(100% - 10px);*/
    width: calc(100% - 20px);
    /*width: 100%;*/
    margin: 10px;
    margin-bottom: 0;

    object-fit: cover;
    height: 100px;
    display: block;
    /*margin: 5px;*/
    /*margin-bottom: 0;*/
    /*border-radius: 5pvar(--border-radius
;    /*height: 100px;*/
}

.welcome .title {
    position: absolute;
    top: 10px;
    left: 20px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 0;

    line-height: 100px;
    padding-left: 20px;
    letter-spacing: 5px;

}

.welcome .text {
    margin: 10px;
}

.welcome input {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    width: 100%;
    height: 42px;

    margin: 10px 10px 0;
    /*margin: 0 0 0 10px;*/
}

.welcome .button.disabled {
    margin: 10px;
    color: gray;
}

.overlay .user {
    position: fixed;
    left: var(--main-padding);
    top: var(--main-padding);
    /*bottom: var(--main-padding);*/
    width: 200px;
    /*height: 200px;*/

    border-radius: var(--border-radius);

    font-size: 12px;

    background-color: var(--color-background-window);
}

.overlay .user > div {
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: var(--border-radius);
}


@media only screen and (max-width: 600px) {
    .entity {
        width: auto;
        height: auto;
        /*top: unset;*/
        left: var(--main-padding);
        top: 20px;
        /*bottom: var(--main-padding);*/
        /*left: var(--main-padding);*/
    }
    .welcome {
        top: 20px;
        width: calc(100% - 40px);
        height: auto;
    }
    .controls {
        justify-content: space-between;
        left: var(--main-padding);
        bottom: calc(var(--main-padding) * 2);
    }
    .controls > div {
        min-width: 30px;
    }
    .text {
        font-size: 14px;
    }
}