:root {
    --cell-width: '';
}

#grid {
    position: relative;
    /*height: auto;*/
    /*border: 1px solid white;*/

    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    justify-content: center;

    /*background-color: ghostwhite;*/
}


#grid:hover {
    /*padding: 0;*/
}

#grid > div {
    /*flex: 1 0 21%; !* explanation below *!*/
    position: relative;

    float: left;
    text-align: center;
    white-space: nowrap;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */

    z-index: 1;
}

.cell {
    position: relative;

    width: var(--cell-width);
    height: var(--cell-width);
    line-height: var(--cell-width);
    /*border: 1px solid transparent;*/

    /*align-items: center;*/

    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 1;
    cursor: pointer;

    background-color: #b2b2b2;
    color: whitesmoke;
    /*opacity: .5;*/
    border-radius: 2px;

    transition: .1s background-color;
}

.cell.selected {
    background-color: #bae8ba;
}

.cell:hover {
    /*opacity: 1;*/
    filter: brightness(110%);
}

.cell img {
    position: absolute;
    width: var(--cell-width);
    bottom: 0;
    z-index: 3;

    transition: 1s filter;

    /*pointer-events: none;*/
}

.cell img:hover {
    filter: brightness(150%);
}

.center {
    background-color: lightgreen;
    border-radius: 2px;
}