:root {
    --cell-width: '';
    --x-count: '';
    --y-count: '';

    /*--cell-border-radius: 5px;*/
    --cell-border-radius: 0;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--x-count), var(--cell-width));
    grid-template-rows: repeat(var(--y-count), var(--cell-width));

    justify-content: center;
}

.grid.debug {
    /*border-left: 1px solid rgba(0, 0, 0, 0.3);*/
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
}

.cell {
    position: relative;

    width: var(--cell-width);
    height: var(--cell-width);
    line-height: var(--cell-width);
    /*border: 1px solid transparent;*/

    text-align: center;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;

    z-index: 1;
    cursor: pointer;

    /*background-color: #b2b2b2;*/
    color: whitesmoke;
    /*opacity: .5;*/

    transition: .1s background-color;
}

.cell.debug {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.cell:hover {
    filter: brightness(140%);
    background-color: rgba(178, 178, 178, 0.35);
    border-radius: var(--cell-border-radius);
}

.cell.selected.user {
    background-color: rgba(49, 255, 255, 0.9);
    border-radius: var(--cell-border-radius);
    filter: brightness(140%);
}

.cell.selected {
    background-color: rgba(49, 140, 255, 0.9);
    border-radius: var(--cell-border-radius);
}


.cell.user {
    /*background-color: rgba(49, 140, 255, 0.9);*/
    background-color: rgba(87, 255, 49, 0.9);
    filter: brightness(140%);
    border-radius: var(--cell-border-radius);
}

.cell img {
    position: absolute;
    width: var(--cell-width);
    bottom: 0;
    z-index: 3;

    transition: 1s filter;

    /*pointer-events: none;*/
}

.cell img:hover {
    filter: brightness(150%);
}

.cell.selected img {
    filter: brightness(150%);
}

.center {
    background-color: lightgreen;
    border-radius: 2px;
}