@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
    font-weight: 700;
}

body {

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    --app-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    height: var(--app-height);
    overflow: hidden;

    margin: 0;
    background-color: black;

    padding-top: env(safe-area-inset-top) !important;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    /*color: #35a8d8;*/
    /*color: rgba(20, 137, 181, 0.76);*/
}

input {
    font-family: 'Open Sans', sans-serif;
    border: none;
    outline: none;
    margin: 0;
}

@supports (-webkit-touch-callout: none) {
    body {
        --app-height: 100dvh;
    }
}


/*MAIN*/

main {
    width: 100%;
    height: var(--app-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b2b2b2;
}

#app {
    width: 100%;
    height: var(--app-height);

    display: flex;
    flex-direction: column;
    justify-content: center;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: hidden;

    z-index: 2;
}

#app > div {
    height: var(--app-height);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
}
