.mobile {
    position: relative;
    width: 100%;
    /*min-height: 1000px;*/

    overflow: scroll;
}

.mobile > .list {
    position: relative;
    width: 100%;
    /*height: 2000px;*/

    background-color: rgba(0, 2, 27, 1);

    padding-top: 480px;

    z-index: 1;
}

.mobile > .list > img {
    position: absolute;
    width: 100%;
    top: 0;

    z-index: 1;
}

.mobile > .list > .form {
    position: relative;
    z-index: 2;
}

.mobile .form .text {
    margin: 20px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.94);
    background: rgba(31, 29, 29, 0.3);
    border-radius: 10px;

    text-align: left;
    line-height: 160%;
    letter-spacing: 1px;

    font-weight: 300;

    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mobile .controls {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80%;
    margin: auto;

    padding-top: 30px;
    padding-bottom: 100px;

    z-index: 2;
}

.mobile .button {
    position: relative;
    width: 70px;
    height: 70px;
    line-height: 70px;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    text-align: center;

    border-radius: 50%;
    background-color: black;
    color: rgba(255, 255, 255, 0.8);

    font-size: 14px;
    /*border: 1px solid white;*/
}

.mobile .button {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: box-shadow .3s;
}

/*.mobile .button { transition: all .2s ease-in-out; }*/
.mobile .button:hover {
    /*transform: scale(1.1);*/

    animation-name: scale;
    animation-duration: 1s;
}

@keyframes scale {
    0%   {transform: scale(1.0);}
    20%  {transform: scale(1.05);}
    40%  {transform: scale(.95);}
    60%  {transform: scale(1.01);}
    80%  {transform: scale(.98);}
    100% {transform: scale(1.0);}
}

.mobile .button.red {
    background-color: rgb(157, 16, 40);
    color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.mobile .button:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mobile .button.gray {
    background-color: rgb(49, 43, 43);
}

.mobile .button img {
    width: 130%;
    height: 130%;
    display: none;
}

.stats {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 80%;
    margin: 20px auto 50px;

    color: white;
}

.stats > div {
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 30%;
}


.stats > div > div:first-child {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 10px;
}

.stats > div > div:last-child {
    font-size: 14px;
    font-weight: 700;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
}