.overlay {
    position: relative;
    z-index: 3;

    --main-padding: 20px;

    --color-buttons-background-hover: gray;
    --color-buttons-background-selected: dimgray;
}

/*.description {*/
/*    position: absolute;*/
/*    right: var(--main-padding);*/
/*    top: 50px;*/
/*    bottom: var(--main-padding);*/
/*    width: 300px;*/
/*    height: 500px;*/

/*    background-color: whitesmoke;*/
/*}*/

.inventory {
    position: fixed;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);

    padding-top: 5px;

    justify-content: center;

    left: var(--main-padding);
    top: var(--main-padding);
    width: 140px;
    height: 140px;

    border-radius: 5px;
    overflow: hidden;

    background-color: whitesmoke;

    cursor: pointer;
}

.inventory > div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    background-color: lightgray;
    color: black;
    font-size: 10px;
    font-weight: 700;

    /*margin: 5px;*/

    border-radius: 5px;
}

.inventory > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.inventory > div.selected {
    background-color: var(--color-buttons-background-selected);
}

.title {
    padding: 10px;
}

.cell .coordinates {
    position: relative;
    display: flex;
    flex-direction: row;

    font-size: 6px;
}

.controls {
    position: fixed;
    display: flex;
    flex-direction: row;

    /*padding: 5px;*/

    bottom: var(--main-padding);
    right: var(--main-padding);
    z-index: 10;

    background-color: ghostwhite;

    border-radius: 5px;

    overflow: hidden;
}

.controls > div {
    min-width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.controls > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.controls > div.active {
    background-color: var(--color-buttons-background-selected);
}

.item {
    position: fixed;
    right: var(--main-padding);
    top: var(--main-padding);
    /*bottom: var(--main-padding);*/
    width: 300px;
    /*height: 200px;*/

    border-radius: 5px;

    font-size: 12px;

    background-color: whitesmoke;
}

.item > div {
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

.item .text {
    /*margin: 0 10px 10px;*/
}


@media only screen and (max-width: 600px) {
    .item {
        width: auto;
        /*top: unset;*/
        left: var(--main-padding);
        top: 40%;
        /*bottom: var(--main-padding);*/
        /*left: var(--main-padding);*/
    }
}