.overlay {
    position: relative;
    z-index: 20;

    --main-padding: 20px;

    --color-buttons-background-hover: gray;
    --color-buttons-background-selected: dimgray;

    /*--color-buttons-background-selected: dimgray;*/

    --color-background-window: rgba(0, 0, 0, 0.8);
    --color-red: red;

    /*--border-radius: 5px;*/
    --border-radius: 0;
}

/*.description {*/
/*    position: absolute;*/
/*    right: var(--main-padding);*/
/*    top: 50px;*/
/*    bottom: var(--main-padding);*/
/*    width: 300px;*/
/*    height: 500px;*/

/*    background-color: whitesmoke;*/
/*}*/

.inventory {
    position: fixed;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 40px);
    grid-template-rows: repeat(3, 40px);

    padding-top: 5px;

    justify-content: center;

    left: var(--main-padding);
    top: var(--main-padding);
    width: 140px;
    height: 140px;

    border-radius: var(--border-radius);
    overflow: hidden;

    background-color: whitesmoke;

    cursor: pointer;
}

.inventory > div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;

    background-color: lightgray;
    color: black;
    font-size: 10px;
    font-weight: 700;

    /*margin: 5px;*/

    border-radius: var(--border-radius);
}

.inventory > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.inventory > div.selected {
    background-color: var(--color-buttons-background-selected);
}

.cell .coordinates {
    position: relative;
    display: flex;
    flex-direction: row;

    font-size: 6px;
}

.controls {
    position: fixed;
    display: flex;
    flex-direction: row;

    /*padding: 5px;*/

    bottom: var(--main-padding);
    right: var(--main-padding);
    z-index: 10;

    background-color: ghostwhite;

    border-radius: var(--border-radius);

    overflow: hidden;
}

.controls .time {
    min-width: 70px;
}

.controls > div {
    min-width: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}

.controls > div:hover {
    background-color: var(--color-buttons-background-hover);
}

.controls > div.active {
    /*background-color: var(--color-buttons-background-selected);*/
    color: var(--color-red);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.item-controls {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    margin-top: 10px;*/
/*}*/

/*.item-items > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    !*margin-top: 10px;*!*/
/*}*/

.button {
    /*font-weight: 700;*/
}

.button:hover {
    /*color: var(--color-red);*/
    /*cursor: pointer;*/
}

.overlay .user {
    position: fixed;
    left: var(--main-padding);
    top: var(--main-padding);
    /*bottom: var(--main-padding);*/
    width: 200px;
    /*height: 200px;*/

    border-radius: var(--border-radius);

    font-size: 12px;

    background-color: var(--color-background-window);
}

.overlay .user > div {
    padding: 5px;
    margin: 5px;
    background-color: lightgray;
    border-radius: var(--border-radius);
}


@media only screen and (max-width: 600px) {
    .welcome {
        top: 20px;
        width: calc(100% - 40px);
        height: auto;
    }
    .controls {
        justify-content: space-between;
        left: var(--main-padding);
        bottom: calc(var(--main-padding) * 5);
    }
    .controls > div {
        min-width: 30px;
    }
}