:root {
    --cell-width: '';
    --x-count: '';
    --y-count: '';

    /*--cells-border-radius: 5px;*/
    --cell-border-radius: 0;
}

.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--x-count), var(--cell-width));
    grid-template-rows: repeat(var(--y-count), var(--cell-width));

    justify-content: center;

    /*filter: brightness(70%);*/
}

.grid > div {
    /*border: 1px solid rgba(255, 255, 255, 0);*/
}

.grid.debug > div {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.grid > div.selected {
    /*border: 1px solid whitesmoke;*/
}

.cell {
    position: relative;

    width: var(--cell-width);
    height: var(--cell-width);
    line-height: var(--cell-width);

    text-align: center;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: center;

    /*z-index: 1;*/
    /*cursor: default;*/

    /*background-color: #b2b2b2;*/
    background-color: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
    /*opacity: .5;*/

    transition: .1s background-color;

    cursor: grab;
}

.cell img {
    position: absolute;
    width: var(--cell-width);
    bottom: 0;
    z-index: 3;

    transition: 1s filter;

    pointer-events: none;
}

.cell img:hover {
    filter: brightness(150%);
}

.grid > div.selected > img {
    filter: brightness(150%);
}

.cell img.small {
    width: calc(50px + var(--cell-width));
    height: calc(50px + var(--cell-width))
}

.cell img.medium {
    width: calc(80px + var(--cell-width));
    height: calc(80px + var(--cell-width));
}

.cell img.big {
    width: calc(120px + var(--cell-width));
    height: calc(120px + var(--cell-width));
}

