.grass {
    background-color: green;
}

.sand {
    background-color: yellow;
}

.mountain {
    background-color: black;
}

.forest {
    background-color: #5B7E3F;
}

.water {
    background-color: blue;
}